<html>
  <style>
    body {
      margin: 40px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 120px 120px 120px;
      grid-gap: 20px;
      background-color: #fff;
      color: #444;
    }
    .box {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
      font-size: 150%;
    }
  </style>
  <body>
    <div class="wrapper">
      <div class="box a">India</div>
      <div class="box b">Pakistan</div>
      <div class="box c">Australia</div>
      <div class="box d">England</div>
      <div class="box e">WestIndies</div>
      <div class="box f">South Africa</div>
      <div class="box f">New Zealand</div>
    </div>
  </body>
</html>
