.footer {
    background-color: #0074A2;
    color: white;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .h2-heading{
    color: white;

  }
  
  .footer-section a {
    text-decoration: none;
    color: white;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    background-color: #005982;
    padding: 10px 0;
    font-size: 12px;
  }
  