/* Navigation.css */

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.logout-button {
  background-color: #9a2248; /* Red background color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #005982;
  transform: scale(1.1);
}