<div>
  <h2>Personal Details</h2>

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" [(ngModel)]="firstName" />

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" [(ngModel)]="lastName" />

  <label for="age">Age:</label>
  <input type="text" id="age" [(ngModel)]="age" />

  <fieldset>
    <legend>Gender:</legend>
    <label>
      <input type="radio" [(ngModel)]="gender" name="gender" value="Male" />
      Male
    </label>
    <br />
    <label>
      <input type="radio" [(ngModel)]="gender" name="gender" value="Female" />
      Female
    </label>
  </fieldset>

  <label for="favoriteColor">Favorite Color:</label>
  <select id="favoriteColor" [(ngModel)]="favColour">
    <option value="Red">Red</option>
    <option value="Green">Green</option>
    <option value="Blue">Blue</option>
    <option value="Orange">Orange</option>
  </select>

  <div [style.color]="favColour">
    Sample Text
    <br />
    Sample Text
    <br />
    Sample Text
  </div>
</div>

<div>
  <h2>Address</h2>

  <label for="street">Street:</label>
  <input type="text" id="street" [(ngModel)]="street" />

  <label for="city">City:</label>
  <input type="text" id="city" [(ngModel)]="city" />
</div>

<input type="checkbox" [(ngModel)]="isDisabled" [value]="isDisabled" /> Disable
<br />
<button [disabled]="isDisabled">Submit</button>
<br />

<router-outlet></router-outlet>
