<b>Personal details</b>
<br />
<b>First Name:</b>
<input type="text" [(ngModel)]="firstName" />
<br />
<b>Last Name:</b>
<input type="text" [(ngModel)]="lastName" />
<br />
<b>Age:</b>
<input type="text" [(ngModel)]="age" />
<br />
<b>Gender:</b>
<fieldset>  
  <!-- fieldset is used to group related elements in a form -->
  <!-- Q: fieldset vs legend -->
  <!-- A: fieldset is used to group related elements in a form, while legend is used to define a caption for the fieldset element. -->
  <legend>Choose one</legend>
  <input type="radio" [(ngModel)]="gender" name="gender" value="Male" /> Male
  <br />
  <input type="radio" [(ngModel)]="gender" name="gender" value="Female" /> Female
  <br />
</fieldset>

<select size="4">
  <option value="Red">Red</option>
  <option value="Green">Green</option>
  <option value="Blue">Blue</option>
  <option value="Orange">Orange</option>
</select>

<div [style.color]="favColour">
  Sample Text
  <br />
  Sample Text
  <br />
  Sample Text
  <br />
</div>
<br />

<b>Address</b>
<br />
<b>Street:</b>
<input type="text" [(ngModel)]="street" />
<br />
<b>City:</b>
<input type="text" [(ngModel)]="city" />
<br />

<router-outlet></router-outlet>
