table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}

td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th{
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ddd;
    cursor: pointer;
}

/* Path: Day%2016/structured-data/src/app/app.component.html */