

<form #projectData="ngForm" (ngSubmit)="processData(projectData)">

  your projectID <input type="number" name="projectID" ngModel/><br>
  Your projectName <input type="text" name="projectName" ngModel/><br>
  Project Start Date <input type="date" name="startDate" ngModel/><br>
  Project End Date<input type="date" name="endDate" ngModel/><br>
  <input type="submit" value="save"/>
</form>

<b>Employee Details</b>
<table style="border-color: blueviolet; border:5px; border-style:groove">
  <tr><td>project ID</td> <td>Project Name</td><td>Start Date</td><td>End Date</td></tr>

  <tr *ngFor = "let p of project_list">
    <td>{{p.projectID}}</td><td>{{p.projectName}}</td>
    <td>{{p.startDate}}</td><td>{{p.endDate}}</td>
  </tr>
</table>

<router-outlet></router-outlet>