<div>
  <h2>Contact Form</h2>
  <!-- (ngSubmit)="processData(projectData)" is the event binding syntax for the form submission. It will call the processData() method in the component class when the form is submitted. -->

  <!-- #projectData="ngForm" is the template reference variable for the form. It is used to access the form data in the component class. -->

  <!-- ngModel is the directive that binds the form data to the component class. -->

  <!-- The name attribute of the input elements is used to access the form data in the component class. -->



  <form #projectData="ngForm" (ngSubmit)="processData(projectData)">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" ngModel>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel>
    </div>
    <div>
      <label for="subject">Subject</label>
      <select id="subject" name="subject" ngModel>
        <option value="Angular">Angular</option>
        <option value="React">React</option>
        <option value="Vue">Vue</option>
      </select>

    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" ngModel>
    </div>
    <div>
      <label for="message">Message</label>
      <textarea id="message" name="message" ngModel></textarea>
    </div>
    <button type="submit" value="Save">Submit</button>
  </form>

</div>

<router-outlet></router-outlet>