<b> Employees list </b>
<table style="display: grid; border: 3px dotted">
  <tr>
    <td>EmployeeId</td>
    <td>FirstName</td>
    <td>LastName</td>
  </tr>
  <tr *ngFor="let emp of emplist">
    <td>{{emp.empId}}</td>
    <td>{{emp.firstName}}</td>
    <td>{{emp.lastName}}</td> 
  </tr>
</table>
<br>

<!-- button to go home -->
<button (click)="goHome()">Home</button>

<!-- button to go back to / -->
<button (click)="goBack()">Back</button>

<!-- button to go to the department list -->
<button (click)="goDepartment()">Departments</button>


