first name:{{emp.firstName}}<br>
last name: {{emp.lastName}}<br>
Age : {{emp.age}}<br>
location:{{emp.location}}<br>

Your Employee id<input type="number"[(ngModel)]="emp.empId"><br>
Your First Name <input type="text" [(ngModel)]="emp.firstName"><br>
Your Last Name <input type="text" [(ngModel)]="emp.lastName"><br>
Age <input type="number" [(ngModel)]="emp.age"><br>
Location<input type="text"[(ngModel)]="emp.location"><br>
<!--<input type="button" value="Add data" (click)="emplist.push(emp)">-->
<input type="button" value="Add data" (click)="addfunction()">


<table style="border: 5px;border-style: solid;">
  <tr style="background-color:cadetblue">
    <td><b>EmpId</b></td>
    <td><b>Firstname</b></td>
    <td><b>Lastname</b></td>
    <td><b>Age</b></td>
    <td><b>Location</b></td>
  </tr>
  <tr *ngFor="let i of emplist" style="background-color: bisque;">
    <td>{{i.empId}}</td>
    <td>{{i.firstName}}</td>
    <td>{{i.lastName}}</td>
    <td>{{i.age}}</td>
    <td>{{i.location}}</td>
  </tr>
</table>
<br>
<input type="button" value="For loops" (click)="forLoops()"/>
<select [(ngModel)]="empId">
  <option *ngFor="let empdata of emplist" value="{{empdata.empId}}">{{empdata.empId}}</option>
</select>
  <input type="button" value="Delete" (click)="deleteEmp()"/>

<router-outlet></router-outlet>
